@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  overflow-x: hidden;
}

.cta {
  padding: 2rem;

  span.title {
    font-size: 50px;
  }

  &.designer {
    span.title {
      font-family: "Pacifico", sans-serif;
    }
  }

  &.coder {
    span.title {
      font-family: "Share Tech Mono", sans-serif;
    }
  }
}


.row.no-margin {
  margin-bottom: 0;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

#sidenav-overlay {
  z-index: 950;
}

.container.intro {
  width: 40%;
}

@media #{$small-and-down} {
  h1 {
    font-size: 3.2rem;
  }

  nav .brand-logo {
    font-size: 1.5rem;
  }

  footer {
    padding: 1rem;
  }

}

.stack_for_print {
  display: none;
}

.resume_footer {
  display: none;
}

@media #{$medium-and-down} {

  .container {
    &.intro {
      width: 90%;
    }

    &.mobile-padding {
      padding: 1rem;
    }
  }
}

@media print {
  #header {
    display: none !important;
  }

  .resume {
    font-size: 12px;

    .resume-print {
      display: none;
    }

    &.container {
      &.intro {
        width: 100%;
      }
    }

    strong {
      color: color("cyan", "darken-4");
    }

    .stack_for_print {
      display: block;
    }

    .stack_for_web {
      display: none;
    }

    .resume_header {
      display: none;
    }

    h5 {
      color: color("cyan", "base") !important;
      margin: 0 0 10px 0;
      font-size: 18px;
      border-bottom: 1px solid;
      padding-bottom: 10px;
    }
  }

  .resume_footer {
    display: block;
  }

  .web_footer {
    display: none;
    
  }
}